<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="rings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rings-link">
                <a href="{% url 'products' %}?category=celtic_knot_rings" class="dropdown-item">Celtic Knot Rings</a>
                <a href="{% url 'products' %}?category=trinity_rings" class="dropdown-item">Trinity Rings</a>
                <a href="{% url 'products' %}?category=triskele_rings" class="dropdown-item">Triskele Rings</a>
                <a href="{% url 'products' %}?category=celtic_knot_rings,trinity_rings,triskele_rings" class="dropdown-item">All Rings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pendants-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pendants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pendants-link">
                <a href="{% url 'products' %}?category=celtic_knot_pendants" class="dropdown-item">Celtic Knot Pendants</a>
                <a href="{% url 'products' %}?category=trinity_pendants" class="dropdown-item">Trinity Pendants</a>
                <a href="{% url 'products' %}?category=triskele_pendants" class="dropdown-item">Triskele Pendants</a>
                <a href="{% url 'products' %}?category=celtic_knot_pendants,trinity_pendants,triskele_pendants" class="dropdown-item">All Pendants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="earrings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Earrings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="earrings-link">
                <a href="{% url 'products' %}?category=celtic_knot_earrings" class="dropdown-item">Celtic Knot Earrings</a>
                <a href="{% url 'products' %}?category=trinity_earrings" class="dropdown-item">Trinity Earrings</a>
                <a href="{% url 'products' %}?category=triskele_earrings" class="dropdown-item">Triskele Earrings</a>
                <a href="{% url 'products' %}?category=celtic_knot_earrings,trinity_earrings,triskele_earrings" class="dropdown-item">All Earrings</a>
            </div>
        </li>
    </ul>
</div>