{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay product-page-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Tell us your opinion</h2>
                <h5 class="logo-font">Add Review</h5>
                <hr>
            </div>
        </div>

           <div class="row">
            <div class="col-12 col-md-6">
                <!--Review Form 
                <form method="POST" action="{% url 'add_review' product.id %}#reviews">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <button class="btn shop-now-button rounded-0" type="submit">Submit Review</button>
                    </div>
                </form>-->
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}